{% layout 'layout' %}
{% block %}
<header class="page-header">
  <h2 class="m-0">git-on-cloudflare</h2>
  <div></div>
</header>
<div class="space-y-4">
  <p class="muted">A Git Smart HTTP v2 server running entirely on Cloudflare Workers.</p>
  <div class="card p-4">
    <h3>Get Started</h3>
    <ul class="list">
      <li>
        <a
          href="https://git-on-cloudflare.com/rachel/git-on-cloudflare"
          target="_blank"
          rel="noopener"
          >Quickstart</a
        >
      </li>
      <li>
        <a href="/auth">Manage Auth</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
